<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (ngSubmit)="onSignup(signupForm)" *ngIf="!isLoading" #signupForm="ngForm">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="Email" #email="ngModel" required email>
      <mat-error *ngIf="email.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" ngModel name="password" placeholder="Password" #password="ngModel" required>
      <mat-error *ngIf="password.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Sign up</button>
  </form>
</mat-card>
