<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onAddPost()" *ngIf="form && !isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Post Title">
      <mat-error *ngIf="form?.get('title')?.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <div style="margin-bottom: 15px">
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" (change)="onImagePicked($event)" #filePicker>
      <div *ngIf="imgPreview && form.get('image')?.valid" style="margin-top: 10px">
        <img src="{{imgPreview}}" alt="preview image" width="120" height="100">
      </div>
    </div>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" placeholder="Post Content"></textarea>
      <mat-error *ngIf="form?.get('content')?.invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
